<div class="container-fluid" id="gift" >
	<div class="row">
		<div id="" class="col-md-6">
               <img src="img/almond.jpg" height="450px" width="550px" alt="">
		</div>

		<div id="gift" class="col-md-6">
               
		</div>
	</div>
</div>