    <html lang="en-US">
    <head>
    

<!-- Google Tag Manager find and study-->
<link href="https://fonts.googleapis.com/css2?family=Amita&display=swap" rel="stylesheet">
<!-- End Google Tag Manager -->

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>For Heaven Cake -- Attalla, AL</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="css/cake.css" rel="stylesheet">
<!-- og tags -->
<meta property="og:title" content="For Heavens Cake">
<meta property="og:site_name" content="For Heavens Cakk">
<meta property="og:url" content="http://www.forheavenscake.online>
<meta property="og:description" content="The Bible will keep you from Sin, or Sin will keep you from the Bible.">
<meta property="og:type" content="website">
<meta property="og:image" content="http://www.forheavenscake.online">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />


</head>
<body>



