<!DOCTYPE html>
<html lang="en">

          {{!-- Header --}}
     {{> header}}

  <body>

    <!-- Navigation -->



    <!-- Page Content -->
    <div class="container" id="bodyCake">
{{> makeCake }}

       {{> carOfCakes }}

      {{> dripCake }}

{{> makeCake }}

       {{> cards }}

      {{> makeCake }}

       {{> cakeDisplay }}

      {{> makeCake }}

      {{> cakeDisplay }}

{{> gift }}
    
{{>contact}}
    </div>
    <!-- /.container -->

    <!-- Footer -->
     {{>footer}}

  </body>

</html>