#multiCake {
    padding-bottom: 15px;
}

#letus {
    font-family: 'Amita', cursive;
    font-size: 100px;
    text-align: center;
}

#gift {
    background-image: url("https://i.ebayimg.com/images/i/120833682271-0-1/s-l1000.jpg");
}

#bodyCake {
    width: 1800px;
    max-width: 1800px;
    display: inline-block;
    padding-left: 100px;
    padding-right: 100px;
    height: 80%;
    width: 100%;
    background: #fbd3df
}

#details {
    padding-top: 10px;
    padding-bottom: 100px;
}

#contact {
    width: 400px;
}

#drip {
    width: 1200px;
    max-width: 1200px;
    height: 500px;
    display: inline-block;
}

#card {
    background-image: url("https://i.ebayimg.com/images/i/120833682271-0-1/s-l1000.jpg");
    border: 10px solid #f8b5cd;
    width: 1500px;
    max-width: 1500px;
    height: 500px;
    display: inline-block;
}

.cake {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fbd3df;
    color: black;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fbd3df;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

h3 {
    font-family: 'Amita', cursive;
}